/* Website template by freewebsitetemplates.com */
body {
	background-color: black;
	/*min-width: 960px;*/
	margin: 0;
}
html{
	background-color: #3e4551;
	width:100%;
	height:100%;
}

#pointcloud{
	width: 600px;
	height: 400px;
	margin-left: 20px;
}
.name{
	text-align:center;
	color:white;
}
#table{
	margin-left: 5%;
}
.people-cards{
	margin-bottom: 0px !important;
	width:100% !important;
}
#people{
	width:100% !important;
}
.nav-link{
	font-size:15px !important;
}
.people-pic{
	display:inline-block;
	vertical-align: top;
	height:162px;
	/*width: 350px !important; */
	width: 175px ;
}
.people-description{
	display:inline-block;
	vertical-align: top;
	text-align:center;
	width: 60% !important;
	margin-left: 7%;
}
.people-description > h1, h2, h3{
	color:white;
}
.card-box{
	width:50%; float:left; margin-right: 10px; margin-bottom:10px; max-height:300px;
}
#carousel-example-2{
	margin-top: 5px !important;
	display:inline-block;
	vertical-align: top;
	width: 900px !important;
	height: 400px;
	margin-left: 35px;
}
.bottom{
	display:inline-block !important;
	margin-top: 5px;
	vertical-align: top;
}
.mySlides{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.cardslides{
		margin-right: 0px !important;
		margin-left: 0px !important;
		width: 100%;
		height:400px !important;

}
#contents{
	width:100%;
	position:absolute;
	background-color: #3e4551;
	margin-bottom: 0;
	padding: 5px 5px 5px 5px;
}
#topnav{
	z-index:5;
}
#panel2, #panel3, #panel4, #panel5{
	display:none;
}
#panel1, #panel2, #panel3, #panel4, #panel5{
	margin: 1rem 1rem 1rem 1rem;
}
.cardheader,.block-center{
	text-align:center;
}
#overviewcard{
	background-color: #e2e2e2;
	text-align: center;
}
.homecards{
	display:inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom:10px;
	background-color: #e2e2e2 !important;
	vertical-align: top;
}
.card{
	margin-bottom: 0px !important;
}
.big_bird_single{
  width: 152px !important;
  height: 200px !important;
	margin: 5px !important;
}
#datawrap{
	display: block;
	padding-bottom: 10px;
	margin-left: 27%;
}
.list-group{
	width: 40% !important;

}
img {
	display: block;
	border: 0;
}
.box {
	background-color: #e7e7e7; /* Needed for IE */
	display: inline-block;
	-moz-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	-webkit-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShdow=true, ShadowOpacity=0.80);
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.box > img {
	display: block;
	position: relative; /* This protects the inner element from being blurred */
}
#logo{
	display:inline;

}
#logoimg{
	display:inline;
	width:20%;
}
.container{
	display:inline-block;
	width: 100% !important;
}
#logo-container{
	display:inline;

}
#request, #datasetover{
	width: 40%;
	height: 100%;
}
#request{
	margin-left: 20%;
}
#datasetover{
	float: left;
}
#wrap{
	display:inline-flex;
	width: 100%;
	vertical-align: top;
}
.cardlists{
	width: 100% !important;
}
#navsection{
	float:right;
}
.frame2 {
	background-position: 0 -517px;
	height: 316px;
	width: 924px;
	margin: 0 auto 18px;
	padding: 6px 7px 0;
	text-align: center;
}
#contents img {
	border: 1px solid rgba(231, 231, 231, 0.8);
}
h1 {
	color: #000000;
	font: 29px/30px "Times New Roman", Times, serif;
	margin: 0 0 12px;
	text-transform: uppercase;
}
h2 {
	color: #000000;
	font: 19px/24px "Times New Roman", Times, serif;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
}
p {
	color: #000000;
	font: 14px/24px Arial, Helvetica, sans-serif;
	margin: 0 0 24px;
}
p a {
	color: #000000;
}
p a:hover {
	color: #333333;
}
.highlight {
	background: #eee url(../images/bg-highlight.jpg) repeat-x left bottom;
	border-bottom: 1px solid #fff;
}
.highlight h1 {
	font-size: 32px;
	line-height: 36px;
	padding: 12px 0 12px;
	text-transform: none;
}
.highlight h2 {
	color: #57614e;
	margin-bottom: 24px;
}
.testimonial, .main, .sidebar > div h2, .sidebar ul li, .main > .section {
	background-image: url(../images/border.png);
	background-position: left top;
	background-repeat: repeat-y;
}
.testimonial {
	float: right;
	width: 260px;
	margin-left: 20px;
	padding: 24px 20px;
}
.testimonial > span {
	color: #626262;
	display: block;
	font: 14px/24px Arial, Helvetica, sans-serif;
	text-align: right;
}
